<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta charset="utf-8">
<html>
<head>
<style>

</style>

<link rel="stylesheet" href="./static/css/style.css">
<title>Visualization - Project-II</title>
</head>
	<body>
		<ul>
					
					<li><h4>Sampling</h4>
					<p><input type ="radio" name="sampling" checked="checked" value="0">Random Sample</p>
					<p><input type ="radio" name="sampling" value="1">Stratified Sample</p>
					</li>

					<li><a href="#elbow" id="elbow">K Means Elbow</a></li>

					<li><h4>Visualization</h4>
					<p><input type ="radio" name="viz" checked="checked" value="0">PCA</p>
					<p><input type ="radio" name="viz" value="1">Euclidean</p>
					<!-- <p><input type ="radio" name="viz" value="2">Cosine</p> -->
					<p><input type ="radio" name="viz" value="3">Correlation</p>
					<!-- <p><input type ="radio" name="viz" value="4">IsoMap</p> -->

					<p><button class="button" id="getDataToShow">Display</button></p>
					</li>
<br/><br/><br/>
					<li>
					<h4>Number of Clusters</h4>
					<p><input type="number" name="kmeans" min="1" max="12" size="3" value="2" style="width:50px"/></p>
					</li>

		</ul>
		<div style="margin-left:15%;padding:1px 16px;">
		<h1 style="text-align: center;color: brown;">VISUALIZATION LAB2</h1>
		</div>
		<div class="support" style="margin-left:15%;padding:5px 270px;">
			</div>
				<div>
				&nbsp;
				<br/><br/><br/>
			</div>
				<div class="visual" style="margin-left:15%;padding:1px 70px;">

			</div>
		
		
	</body>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
	
	<script src="./static/css/script.js"></script>
</html>
